.nav-bar{
 width: 100%;
 height: 55px;
 color: black;
 background-color: blanchedalmond;
}

/* unvisited link */
.nav-item  a:link {
    color: green;
  }
  
  /* visited link */
.nav-item a:visited {
    color: green;
  }
  
  /* mouse over link */
.nav-item a:hover {
    color: green;
}
  
  /* selected link */
.nav-item a:active {
    color: green;
}